<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-diego-dashboard-styles.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-diego-dashboard">
  <script src="cells-diego-dashboard.js"></script>
</dom-module>